<div class="chat-toolbar">
  <div class="logo">
    <img src="assets/chat-logo.svg"/>
    <span>Secure Chat Project</span>
  </div>
  <div *ngIf="authService.currentUser" class="user-profile">
    <span>
      Welcome, <b> {{ authService.currentUser.id }}</b>
    </span>
    <img [src]="'../../assets/avatar.png'" height="37px" width="36px"/>
  </div>
</div>

<div class="row chat-page">
  <div class="col-md-6">

    <div class="chat-box">
      <app-contacts-list
      ></app-contacts-list>
      <app-messages-view

      ></app-messages-view>
    </div>
  </div>


  <div class="col-md-6">
    <div class="chat-box">
      i will print here my keys,
    </div>
  </div>

  <div class="col-md-6">
    <div class="chat-box">
      i will print here my certificate
    </div>
  </div>

  <div class="col-md-6">
    <div class="chat-box">
      i will print here crypted, decrypted messages
    </div>
  </div>

  <div class="col-md-6">
    <div class="chat-box">
      i will choose cipher, hashing algorithms
    </div>
  </div>
</div>
