<div class="login-page">
  <div class="login-box">
    <img src="assets/chat-illustration-2.svg" />
    <div class="login-content">
      <h1>Create an Account</h1>
      <form [formGroup]="myForm" >
        <mat-form-field>
          <input matInput placeholder="User Name" type="text" formControlName="cn" required />

        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="First Name" type="text" formControlName="givenName" required />

        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" type="text" formControlName="sn" required />

        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Telephone" type="text" formControlName="telephoneNumber" required/>

        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="userPassword" required/>

        </mat-form-field>

        <button mat-raised-button color="primary" (click)="submit()" [disabled]="myForm.invalid">SIGN UP</button>
      </form>
      <div>
        <span>Do you have an account?</span>
        <a routerLink="/login">Log in</a>
      </div>
    </div>
  </div>
</div>
