<div class="main">
  <div class="contacts-title">Contacts</div>
  <ul>
    <li
      (click)="onUserSelected(user)"
      *ngFor="let user of users"
      [ngClass]="{ active: user.id === activeUser?.id }"
    >
      <div class="image-container">
        <img [src]="'../../assets/avatar.png'" height="37px" width="36px"/>
        <span
          class="circle"
          [ngClass]="user.status === 'online' ? 'on' : 'off'"
        ></span>
      </div>
      <div class="contacts-info">
        <span class="status-title">{{user.id}}</span>
        <span class="status-text">status</span>
      </div>
    </li>
  </ul>
</div>
